/* Basic Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body*/
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    padding: 1rem;
}

/* Basic Reset*/
/* Basic Reset*/